@{
    ViewBag.Title = "About Us";
    Layout = "_Layout";
}
<div class="crumb center">
    <div class="container">
        <h1>
            About <span class="wow pulse" data-wow-delay="1s">AdoptApet</span>
        </h1>
        <div class="bg_tran">
             About us
        </div>
        <p>
            <a href="index-5.html" title="Home">HOME</a>
            || <span>About</span>
        </p>
    </div>
</div>
<section class="welcome-section welcome-sec-4">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img class="d-block w-100" src="~/Pictures/home6.jpg" alt="First slide">
                </div>
            </div>

            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">Because We Really Care About Your Pets
                    <h2>Welcome To AdoptAPet</h2>
                    <div class="text">
                        <p>we are driven by a deep love for animals and a commitment to their well-being. Our mission is
                            simple yet profound: to connect pets with loving homes and provide top-notch care along the
                            way. With a team of passionate professionals, we strive to create a nurturing environment
                            where every pet feels cherished and every owner feels supported. Whether it's grooming,
                            veterinary care, or finding the perfect companion, we're here to make every interaction a
                            joyful and fulfilling experience</p>
                        <p>Join us in our journey of compassion, responsibility, and the pure joy that comes from
                            welcoming a furry friend into your life.</p>
                    </div>
                    <ul class="list-style-two">
                        <li class="fas fa-paw"> We specialize in pet adoption services.</li>
                        <li class="fas fa-paw"> Our comprehensive care includes grooming and veterinary
                            services.</li>
                        <li class="fas fa-paw"> Explore our curated selection of quality pet products.
                        </li>
                    </ul>
                    <a href="services.html" class="theme-btn">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-section">
    <div class="auto-container">
        <div class="back">
        <img src="~/Pictures/layer-4.png" style="position: absolute; height: 300px; left: -161px;  width: 130%; bottom:3px;" >
        </div>
        <div class="row clearfix">
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="content">
                        <div class="icon-box">
                            <img src="~/Pictures/icon-1.png" style="margin-bottom: 10px; width: 70% ;" >
                        </div>
                        <h3><a href="#">we heal pets</a></h3>
                        <div class="text">quick veterinary services</div>
                    </div>
                </div>
            </div>
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="content">
                        <div class="icon-box">
                            <img src="~/Pictures/icon-2.png" style="margin-bottom: 10px; width: 70% ;" >
                        </div>
                        <h3><a href="#">we care pets</a></h3>
                        <div class="text">pet sheltering & adoption</div>
                    </div>
                </div>
            </div>
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="content">
                        <div class="icon-box">
                            <img src="~/Pictures/icon-3.png" style="margin-bottom: 10px; width: 70% ;"  >
                        </div>
                        <h3><a href="#">we love pets</a></h3>
                        <div class="text">Show love & donate us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-section">
    <div class="auto-container">
        <div class="title">Because We Really Care About Your Pets</div>
        <h2>Our Team Members</h2>
    </div>
    <div class="row clearfix">
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image">
                        <img src="~/Pictures/doctor-1.jpg" alt="" style="width: 100%; height: 80%;" />
                    </a>
                </div>
                <div class="lower-box">
                    <h3><a href="team-detail.html">Thomas Nick</a></h3>
                    <div class="designation">founder</div>
                    <div class="social-box">
                        <ul class="social-icon-one">
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-facebook-square"></span></a>
                            <a href="#"><span class="fab fa-google-plus"></span></a>
                            <a href="#"><span class="fab fa-pinterest-p"></span></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image">
                        <img src="~/Pictures/doctor-2.jpg" alt="" style="width: 100%; height: 80%;" />
                    </a>
                </div>
                <div class="lower-box">
                    <h3><a href="team-detail.html">James Harry</a></h3>
                    <div class="designation">pet lover</div>
                    <div class="social-box">
                        <ul class="social-icon-one">
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-facebook-square"></span></a>
                            <a href="#"><span class="fab fa-google-plus"></span></a>
                            <a href="#"><span class="fab fa-pinterest-p"></span></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image">
                        <img src="~/Pictures/doctor-3.jpg" alt="" style="width: 100%; height: 460px;" />
                    </a>
                </div>
                <div class="lower-box">
                    <h3><a href="team-detail.html">Lucy Anderson</a></h3>
                    <div class="designation">donator</div>
                    <div class="social-box">
                        <ul class="social-icon-one">
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-facebook-square"></span></a>
                            <a href="#"><span class="fab fa-google-plus"></span></a>
                            <a href="#"><span class="fab fa-pinterest-p"></span></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image">
                        <img src="~/Pictures/doctor-4.jpg" alt="" style="width: 100%; height: 80%;" />
                    </a>
                </div>
                <div class="lower-box">
                    <h3><a href="team-detail.html">Daniel Jacob</a></h3>
                    <div class="designation">pet Adopter</div>
                    <div class="social-box">
                        <ul class="social-icon-one">
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-facebook-square"></span></a>
                            <a href="#"><span class="fab fa-google-plus"></span></a>
                            <a href="#"><span class="fab fa-pinterest-p"></span></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
